<a href="https://colab.research.google.com/github/EniacTamizha/eniactamizha/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
d={'Age':[21,23,45,65,43],'time':[2,3,4,5,6],'Job':[1,2,3,4,5]}
df = pd.DataFrame(data=d)
print(df)

   Age  time  Job
0   21     2    1
1   23     3    2
2   45     4    3
3   65     5    4
4   43     6    5

In [ ]:
import pandas as pd

In [ ]:
d = {'Age':[45,52,41,25,36],'D.O.Y':[2002,2008,2007,2001,2006],'Gender':[0,1,0,1,0]}
df = pd.DataFrame(data=d)
print(d)

{'Age': [45, 52, 41, 25, 36], 'D.O.Y': [2002, 2008, 2007, 2001, 2006], 'Gender': [0, 1, 0, 1, 0]}

In [ ]:
import pandas as pd
d = {'Age':[45,52,41,25,36],'D.O.Y':[2002,2008,2007,2001,2006],'Gender':[0,1,0,1,0]}
df = pd.DataFrame(data=d)
print(df)

   Age  D.O.Y  Gender
0   45   2002       0
1   52   2008       1
2   41   2007       0
3   25   2001       1
4   36   2006       0

In [ ]:
import pandas as pd
d={'Age':[21,23,45,65,43],'time':[2,3,4,5,6],'Job':[1,2,3,4,5]}
df = pd.DataFrame(data=d)
print(df)

   Age  time  Job
0   21     2    1
1   23     3    2
2   45     4    3
3   65     5    4
4   43     6    5

In [ ]:
import pandas as pd

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

df = pd.DataFrame(data=d)

print(df)
row=df.shape[0]
column=df.shape[1]
print("\n")
print(row)
print("\n")
print(column)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11


5


3

In [ ]:
import pandas as pd
import numpy as np

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
e=(240, 250, 260, 270, 280, 290, 300, 310, 320, 330)

df = pd.DataFrame(data=d)
nf=np.mean(e)

print(df)
print(nf)
row=df.shape[0]
column=df.shape[1]
print(row)
print(column)
print(max(e))
print(min(e))

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
285.0
5
3
330
240

In [ ]:
import pandas as pd
health_data = pd.read_csv("data.csv", header=0, sep=",")


print(health_data.head())

   Unnamed: 0  Duration   Average_Pulse Max_Pulse  Calorie_Burnage  \
0           0       30.0           80.0       120            240.0
1           1       45.0           85.0       120            250.0
2           2       45.0           90.0       130            260.0
3           3       60.0           95.0       130            270.0
4           4       60.0          100.0       140            280.0

   Hours_Work  Hours_Sleep  Unnamed: 7
0        10.0          7.0         NaN
1        10.0          7.0         NaN
2         8.0          7.0         NaN
3         8.0          7.0         NaN
4         0.0          7.0         NaN

In [2]:
import pandas as ps
import numpy as ny
d={'Age':[20,19,18],'DOY':[2003,2004,2005]}
df=ps.DataFrame(data=d)
mean=(20,23,34,556,67,665)
print(df)

   Age   DOY
0   20  2003
1   19  2004
2   18  2005

In [8]:
import numpy as ny
k =(12,34,45,67,89,976,5,4,43)
print(max(k))
print(min(k))
mean=ny.mean(k)
print(mean)

976
4
141.66666666666666

In [9]:
import pandas as pd
import numpy as ny
data1=pd.read_csv("data1.csv", header=0, sep=",")
print(data1)

   Student Name      Roll No  Age  Grade Pass /fail
0             A  73772026101   19     88       Pass
1             B  73772026102   19     95       Pass
2             C  73772026103   18     98       Pass
3             D  73772026104   17     82       Pass
4             E  73772026105   17     95       Pass
5             F  73772026106   20     82       Pass
6             G  73772026107   17     92       Pass
7             H  73772026108   17     80       Pass
8             I  73772026109   20     83       Pass
9             J  73772026110   20     83       Pass
10            K  73772026111   19     99       Pass
11            L  73772026112   19     99       Pass
12            M  73772026113   19     82       Pass
13            N  73772026114   20     99       Pass
14            O  73772026115   17     88       Pass
15            P  73772026116   17     94       Pass
16            Q  73772026117   18     99       Pass
17            R  73772026118   17     87       Pass
18            S  73772026119   19     86       Pass

In [16]:
import pandas as pd
import numpy as ny
data2=pd.read_csv("data2.csv", header=0, sep=",")
data2.dropna(axis=0,inplace=True)
print(data2)
print("\n")
print(data2.shape[0])
print(data2.shape[1])

   Student Name       Roll No  Age  Grade Pass /fail
0             A  7.377203e+10   19     88       Pass
1             B  7.377203e+10   19     85       Pass
2             C  7.377203e+10   19     88       Pass
3             D  7.377203e+10   17     93       Pass
4             E  7.377203e+10   18     84       Pass
5             F  7.377203e+10   20     80       Pass
6             G  7.377203e+10   19     87       Pass
7             H  7.377203e+10   18     93       Pass
8             I  7.377203e+10   18     83       Pass
9             J  7.377203e+10   20     97       Pass
10            K  7.377203e+10   17     89       Pass
11            L  7.377203e+10   20     89       Pass
12            M  7.377203e+10   18     96       Pass
13            N  7.377203e+10   19     89       Pass
15            P  7.377203e+10   20     88       Pass
16            Q  7.377203e+10   18     86       Pass
17            R  7.377203e+10   18     84       Pass


17
5