<a href="https://colab.research.google.com/github/EniacTamizha/eniactamizha/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
d={'Age':[21,23,45,65,43],'time':[2,3,4,5,6],'Job':[1,2,3,4,5]}
df = pd.DataFrame(data=d)
print(df)

   Age  time  Job
0   21     2    1
1   23     3    2
2   45     4    3
3   65     5    4
4   43     6    5

In [ ]:
import pandas as pd

In [ ]:
d = {'Age':[45,52,41,25,36],'D.O.Y':[2002,2008,2007,2001,2006],'Gender':[0,1,0,1,0]}
df = pd.DataFrame(data=d)
print(d)

{'Age': [45, 52, 41, 25, 36], 'D.O.Y': [2002, 2008, 2007, 2001, 2006], 'Gender': [0, 1, 0, 1, 0]}

In [ ]:
import pandas as pd
d = {'Age':[45,52,41,25,36],'D.O.Y':[2002,2008,2007,2001,2006],'Gender':[0,1,0,1,0]}
df = pd.DataFrame(data=d)
print(df)

   Age  D.O.Y  Gender
0   45   2002       0
1   52   2008       1
2   41   2007       0
3   25   2001       1
4   36   2006       0

In [ ]:
import pandas as pd
d={'Age':[21,23,45,65,43],'time':[2,3,4,5,6],'Job':[1,2,3,4,5]}
df = pd.DataFrame(data=d)
print(df)

   Age  time  Job
0   21     2    1
1   23     3    2
2   45     4    3
3   65     5    4
4   43     6    5

In [ ]:
import pandas as pd

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

df = pd.DataFrame(data=d)

print(df)
row=df.shape[0]
column=df.shape[1]
print("\n")
print(row)
print("\n")
print(column)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11


5


3

In [ ]:
import pandas as pd
import numpy as np

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}
e=(240, 250, 260, 270, 280, 290, 300, 310, 320, 330)

df = pd.DataFrame(data=d)
nf=np.mean(e)

print(df)
print(nf)
row=df.shape[0]
column=df.shape[1]
print(row)
print(column)
print(max(e))
print(min(e))

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11
285.0
5
3
330
240

In [ ]:
import pandas as pd
health_data = pd.read_csv("data.csv", header=0, sep=",")


print(health_data.head())

   Unnamed: 0  Duration   Average_Pulse Max_Pulse  Calorie_Burnage  \
0           0       30.0           80.0       120            240.0
1           1       45.0           85.0       120            250.0
2           2       45.0           90.0       130            260.0
3           3       60.0           95.0       130            270.0
4           4       60.0          100.0       140            280.0

   Hours_Work  Hours_Sleep  Unnamed: 7
0        10.0          7.0         NaN
1        10.0          7.0         NaN
2         8.0          7.0         NaN
3         8.0          7.0         NaN
4         0.0          7.0         NaN

In [2]:
import pandas as ps
d={'Age':[20,19,18],'DOY':[2003,2004,2005]}
df=ps.DataFrame(data=d)
print(df)

   Age   DOY
0   20  2003
1   19  2004
2   18  2005